::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0A0F1E;
}

::-webkit-scrollbar-thumb {
    background: #1a3a4a;
}

::-webkit-scrollbar-thumb:hover {
    background: #00D4FF44;
}
